<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489500461815-0tbv3fokan5hskun7rvd4m4a51qqip9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489500461815-0tbv3fokan5hskun7rvd4m4a51qqip9e</string>
	<key>API_KEY</key>
	<string>AIzaSyBQBTzNLkikH3NGLR59IGRPd7kJ5CVl0I4</string>
	<key>GCM_SENDER_ID</key>
	<string>489500461815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.codelab.AppQualitySwift</string>
	<key>PROJECT_ID</key>
	<string>test-5244e</string>
	<key>STORAGE_BUCKET</key>
	<string>test-5244e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489500461815:ios:952dec10290cd09c</string>
	<key>DATABASE_URL</key>
	<string>https://test-5244e.firebaseio.com</string>
</dict>
</plist>